<!DOCTYPE html>
<html>

<head>
    <title>Error</title>
    <style>
        body {
            background-color: #F8D7DA;
            font-family: Arial, sans-serif;
        }

        h1 {
            color: #721c24;
            text-align: center;
        }

        p {
            color: #721c24;
            font-size: 20px;
            text-align: center;
        }

        a {
            color: #155724;
            text-align: center;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <h1>Error</h1>
    <p>Sorry, an error occurred while trying to access the requested page.</p>
    <p>Please try again later or contact the administrator if the problem persists.</p>
    <a href="/">Go back to the homepage</a>
</body>

</html>